
.notify {
  position: fixed;
  left: 1px;
  bottom: 1px;

  width: 250px;
  transition: all 0.4s ease;

  &__item {
    animation: opening 0.5s;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    margin-bottom: 1px;
    opacity: .9;
    padding: 5px 5px;
    background-color: #44f;

    color: white;
    
    &:hover {
      opacity: 1;
    }
  }

  &__title {
    margin-left: 5px;
    word-wrap: break-word;
    width: 212px;
    text-decoration: underline;
  }

  &__content {
    margin-left: 27px;
    word-wrap: break-word;
    max-width: 212px;
  }


  &__close {
    transition: all 0.3s ease;
    background-color: #55f;
    display: inline-block;

    border: 1px solid #88a;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    
    cursor: pointer;

    -moz-user-select: none;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    color: #faa;
    
    &:hover {
      border: 1px solid #ccc;
      color: #fcc;
    }
    &:active {
      border: 1px solid #fff;
      color: #fff;
    }
  }

  &--closing {
    transition: all 0.4s ease;
    opacity: .0;
    padding: 0 5px;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
  



  &__default {
    background-color: #55f;
  }
  &__default &__close {
    background-color: #55f - #111;
    border-color: #55f + #666;
    color: #55f + #666;
  }
  &__default &__close:hover {
    border-color: #55f + #777;
    color: #55f + #777;
  }
  &__default &__close:active {
    border-color: #55f + #aaa;
    color: #55f + #aaa;
  }


  &__success {
    background-color: #5f5;
  }
  &__success &__close {
    background-color: #5f5 - #111;
    border-color: #5f5 + #555;
    color: #5f5 + #777;
  }
  &__success &__close:hover {
    border-color: #5f5 + #777;
    color: #5f5 + #888;
  }
  &__success &__close:active {
    border-color: #5f5 + #aaa;
    color: #5f5 + #aaa;
  }
  

  &__warning {
    background-color: #fa0;
  }
  &__warning &__close {
    background-color: #fa0 - #111;
    border-color: #fa0 + #333;
    color: #fa0 + #333;
  }
  &__warning &__close:hover {
    border-color: #fa0 + #444;
    color: #fa0 + #444;
  }
  &__warning &__close:active {
    border-color: #fa0 + #777;
    color: #fa0 + #888;
  }
  

  &__error {
    background-color: #f44;
  }
  &__error &__close {
    background-color: #f44 - #111;
    border-color: #f44 + #444;
    color: #f44 + #555;
  }
  &__error &__close:hover {
    border-color: #f44 + #666;
    color: #f44 + #777;
  }
  &__error &__close:active {
    border-color: #f44 + #aaa;
    color: #f44 + #aaa;
  }
}




@keyframes opening {
  from {
    padding: 1px 5px;
    margin-bottom: 1px;
    opacity: .3;
  }
  to {
    opacity: .9;
    padding: 5px 5px;
  }
}